doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link#bootstrap-css(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css' rel='stylesheet')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    link(rel='stylesheet',href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
  body

    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    header#header
      .container
        #logo.pull-left
          h1
            a.scrollto(href='/') Fitfinder
          
          
        nav#nav-menu-container
          ul.nav-menu
            li
              a(href='/') Home
            li
              a(href='/logIn') Login
            li
              a(href='/register') Register
            
block content

//-https://bootsnipp.com/snippets/1eE6V - header taken from here